{% extends "mail/base.html" %}
{% block title %} Изменение пароля пользователя {% endblock %}
{% block content %}
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    <h2>Изменить пароль</h2>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="p-2 btn btn-outline-success"  type="submit">Изменить пароль</button>
    </form>
    <a class="p-2 btn btn-outline-primary"  href="{% url 'users:user_profile' user.id %}">Назад к профилю</a>
{% endblock %}