{% extends 'mail/base.html' %}
{% block title %} Восстановление пароля {% endblock %}
{% block content %}
<div class="container mt-5">
    <h1>Восстановление пароля</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Восстановить пароль</button>
    </form>
</div>
{% endblock %}